*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}
main {
  width: 100%;
  max-width: 1140px;
}
li {
  line-height: 27px;
}
header {
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 1000;
  padding: 5px 0px;
  transition: all 0.2s;
  background-color: #ffffff;
  border-bottom: 1px solid #61a375;
}
header.active {
  background-color: transparent;
  padding: 20px 0px;
}
header:hover {
  background-color: #ffffff;
}
header:hover .logo-text,
header:hover .nav-item,
header:hover .default-value p,
.activeSelect .default-value p {
  color: #61a375 !important;
}
header:hover svg {
  filter: invert(68%) sepia(18%) saturate(774%) hue-rotate(51deg)
    brightness(92%) contrast(91%) !important;
}
.toggle-language {
  position: absolute;
  right: 32px;
  top: 50%;
  transform: translateY(-50%);
}
.activeSelect svg {
  filter: invert(68%) sepia(18%) saturate(774%) hue-rotate(51deg)
    brightness(92%) contrast(91%);
}
.flex-box,
.flex-box-between,
.flex-box-center {
  display: flex;
  align-items: center;
}
.flex-box-between {
  justify-content: space-between;
}
.flex-box-center {
  justify-content: center;
}
.divider {
  position: relative;
}
.divider::before {
  content: "";
  background-color: #61a375;
  position: absolute;
  width: 50%;
  height: 1px;
  left: 50%;
  bottom: 0px;
  transform: translate(-50%, -50%);
}
.logo {
  width: 60px;
}
.logo-text {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #61a375;
  text-transform: uppercase;
}
.activeLogoText {
  color: #ffffff;
}
.nav-item {
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: #ffffff;
  padding: 0px 15px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}
.nav-item:hover {
  color: #61a375;
  text-decoration: underline;
}
.nav-item-secondary {
  color: #61a375;
}
.nav-item-secondary:hover {
  text-decoration: underline;
}
.body1 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #47425d;
  hyphens: manual;
}
.theme-btn {
  background-color: #61a375;
  border: 1px solid #61a375;
  position: relative;
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 700;
  padding: 12px 35px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 3px;
  transition: all 0.3s;
  cursor: pointer;
  text-decoration: none;
}
.theme-btn:hover {
  color: #61a375;
  background-color: transparent;
}
.collapse {
  width: 100%;
  overflow: hidden;
  transition: all 0.5s ease;
  transform-origin: top left;
}
.collapse[data-expanded="false"] {
  max-height: 0px;
  transform: scaleY(0);
}
.collapse[data-expanded="true"] {
  max-height: 10000px;
  transform: scaleY(1);
}
.svg-icon {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
  overflow: hidden;
  filter: invert(25%) sepia(4%) saturate(4101%) hue-rotate(211deg)
    brightness(84%) contrast(80%);
  transition: all 0.2s ease-out;
}
.input {
  gap: 15px;
  padding: 16px;
  border-radius: 6px;
  border: 1px solid #c8c9c6;
  background-color: #f1f0f5;
  margin-bottom: 16px;
}
.input img {
  width: 24px;
  height: 24px;
  filter: invert(81%) sepia(5%) saturate(100%) hue-rotate(219deg)
    brightness(82%) contrast(90%);
}
.input input,
.input textarea {
  width: 100%;
  max-width: 100%;
  min-height: 24px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #757575;
  background-color: transparent;
  border: none;
  outline: none;
}
input[type="checkbox"] {
  width: 20px;
  height: 20px;
}
input[type="checkbox"]:checked {
  background: transparent;
  border: none;
  outline: none;
}
.title {
  width: fit-content;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 32px;
  color: #443f3f;
  text-transform: uppercase;
  padding-bottom: 15px;
}
.title.divider::before {
  width: 50px;
}
@-webkit-keyframes fadeInAndScale {
  from {
    transform: scale(0.7);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes fadeInAndScale {
  from {
    transform: scale(0.7);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.select-wrapper {
  width: fit-content;
  position: relative;
  cursor: pointer;
}
.custom-select {
  width: fit-content;
  min-height: 28px;
  max-width: 99%;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  border: 1px solid transparent;
  background-color: transparent;
  padding: 6px 33px 6px 12px;
}
.custom-select:hover {
  border: 1px solid #61a375;
}
.custom-select .default-value p {
  color: #ffffff;
}
.custom-select:hover .default-value p {
  color: #61a375;
}
.custom-select:hover svg {
  filter: invert(68%) sepia(18%) saturate(774%) hue-rotate(51deg)
    brightness(92%) contrast(91%);
}
.custom-select svg {
  width: 12px;
  height: 12px;
  position: absolute;
  top: calc(50% - 6px);
  right: 12px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(320deg)
    brightness(104%) contrast(102%);
}
.popper {
  width: 100%;
  position: absolute;
  left: 0px;
  top: calc(100% + 10px);
  z-index: 10;
  border-radius: 6px;
  background-color: #ffffff;
  padding: 12px 0px;
}
.select-item {
  width: 100%;
  padding: 8px 12px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #000000;
  cursor: pointer;
  background: transparent;
}
.select-item:hover {
  background: #cdcaca54;
}
.select-item.active {
  background-color: #61a375;
}
