*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}
main {
  width: 100%;
  max-width: 1140px;
}
li {
  line-height: 27px;
}
.flex_box,
.flex_box_between,
.flex_box_center {
  display: flex;
  align-items: center;
}
.flex_box_between {
  justify-content: space-between;
}
.flex_box_center {
  justify-content: center;
}
.divider {
  position: relative;
}
.divider::before {
  content: "";
  background-color: #61a375;
  position: absolute;
  width: 50%;
  height: 1px;
  left: 50%;
  bottom: 0px;
  transform: translate(-50%, -50%);
}
.logo {
  width: 60px;
}
.logo_text {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #61a375;
  text-transform: uppercase;
}
.nav_item {
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: #ffffff;
  padding: 0px 15px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}
.nav_item:hover {
  color: #61a375;
  text-decoration: underline;
}
.nav_item_secondary {
  color: #61a375;
}
.nav_item_secondary:hover {
  text-decoration: underline;
}
.body1 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #47425d;
  hyphens: manual;
}
.theme_btn {
  background-color: #61a375;
  border: 1px solid #61a375;
  position: relative;
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 700;
  padding: 12px 35px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 3px;
  transition: all 0.3s;
  cursor: pointer;
  text-decoration: none;
}
.theme_btn:hover {
  color: #61a375;
  background-color: transparent;
}
.collapse {
  width: 100%;
  overflow: hidden;
  transition: all 0.5s ease;
  transform-origin: top left;
}
.collapse[data-expanded="false"] {
  max-height: 0px;
  transform: scaleY(0);
}
.collapse[data-expanded="true"] {
  max-height: 10000px;
  transform: scaleY(1);
}
.svg_icon {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
  overflow: hidden;
  filter: invert(25%) sepia(4%) saturate(4101%) hue-rotate(211deg)
    brightness(84%) contrast(80%);
  transition: all 0.2s ease-out;
}
